
# VS Code cache and files
stocks.code-workspace
.vscode/

# Data
data/
models/
build/

# IPython checkpoints and compiled files
__pycache__/
**.ipynb_checkpoints/

# NumPy arrays and archives
*.npy
*.npz

# Submission folders
submission/MSc_project/stocks-tldr*